.header {
    background-color: #274558;
    position: sticky;
    top: 0;
    left: 0;

    

    &__container {
        display: flex;
        justify-content: space-between;
        padding: 8px 30px;
    }
    &__logo {
        max-width: 80px;
        width: 100%;
        margin: 8px;
        
        &__title {
            font-size: 40px;
            font-family: "Anton", sans-serif;
            font-weight: normal;
            color: white;
            margin: 8px
        }
    }

    &__links {
        display: flex;
        &__item {
            margin: 5px;
        }
    }
}

.button {
    height: 40px;
}